<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DTunes</title>
  <link rel="stylesheet" href="/public/cssFiles/home.css">
  <link rel="stylesheet" href="/public/cssFiles/showPlayListModal.css">
  <link rel="stylesheet" href="/public/cssFiles/toggleSwitch.css">
  <link rel="stylesheet" href="/public/cssFiles/userCards.css">
</head>

<body>
  <div class="wholePage">
    <%- include("./partials/playListNames.ejs") %>
    <%- include("./partials/sideBar.ejs") %>
      <div class="workspace">
        <%- include("./partials/searchBar.ejs") %>
        <%- include("./partials/toggleSwitch.ejs") %>
        <div class="recomendations">
          <div class="heading">
            <h3>Trendings</h3>
          </div>
          <div class="recomendationList">
            <!-- Cards Are Added Here -->
          </div>
        </div>
        <%- include("./partials/player.ejs")  %>
      </div>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script src="./public/jsFunctions/home.js" type="module">
      </script>
      <script src="/public/jsFunctions/utilityFunctions/sideBarRedirections.js"></script>
</body>

</html>