<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/headTags.ejs") %>
        <link rel="stylesheet" href="/public/cssFiles/otherUserProfile.css">
        <style>
            .playList-container-public {
                height: 15vh;
                margin-top: 2%;

            }

            .indivudual-playList {
                padding: 1%;
                border-radius: 10px;
                width: 100%;
                display: flex;
                background-color: rgb(46, 46, 46);
                justify-content: space-between;
                box-shadow: 2px 2px 2px black;

            }

            .indivudual-playList button {
                padding: 1%;
                border: none;
                border-radius: 50px;
                transition: 0.7s;
            }

            .indivudual-playList button:hover {
                background-color: rgb(41, 195, 41);
                color: aliceblue;

            }
        </style>
</head>

<body>
    <div class="profile-container">
        <div class="upper-section">
            <div class="main-details">
                <div class="display-pic">
                    <img id="profile-image" src="<%= locals.userPopulated.profileImageUrl %>" alt="Profile Picture">
                </div>
                <div class="upper-section-info">
                    <div class="userName">
                        <h1 id="user-name">
                            <%= locals.userPopulated.userName %>
                        </h1>
                    </div>
                    <div class="Role">
                        <h3 id="user-role">
                            <%= locals.userPopulated.role %>
                        </h3>
                    </div>
                    <p id="user-email">
                        <%= locals.userPopulated.emailId %>
                    </p>
                    <% if (locals.isFriend) { %>
                        <div class="friendRequestBtn">
                            <button id="friend-remove-btn" class="friend-request-btn"
                                data-userId="<%= locals.userPopulated._id %>">
                                Remove From Friends
                            </button>
                        </div>
                        <% }else if(locals.alreadySent){ %>
                            <div class="friendRequestBtn">
                                <button id="friend-request-remove-btn" class="friend-request-btn"
                                    data-userId="<%= locals.userPopulated._id %>">
                                    Remove Request
                                </button>
                            </div>
                            <% } else if(locals.gotFromUser){%>
                                <div class="friendRequestBtn">
                                    <button id="friend-request-accept-btn" class="friend-request-btn"
                                        data-userId="<%= locals.userPopulated._id %>">
                                        Accept Request
                                    </button>
                                </div>
                                <div class="friendRequestBtn">
                                    <button id="friend-request-reject-btn" class="friend-request-btn"
                                        data-userId="<%= locals.userPopulated._id %>">
                                        Reject Request
                                    </button>
                                </div>
                                <% } else{%>
                                    <div class="friendRequestBtn">
                                        <button id="friend-request-btn" class="friend-request-btn"
                                            data-userId="<%= locals.userPopulated._id %>">
                                            send a Friend Request
                                        </button>
                                    </div>
                                    <% } %>
                </div>
            </div>
        </div>

        <div class="section">
            <h2>Friends</h2>
            <div id="friends-container" class="item-container">
                <% locals.userPopulated.friends.forEach(friend=> { %>
                    <div class="item firend" data-friendEmail="<%= friend.emailId %>">
                        <h3>
                            <%= friend.userName %>
                        </h3>
                        <p>
                            <%= friend.emailId %>
                        </p>
                        <p>Role: <%= friend.role %>
                        </p>
                    </div>
                    <% }) %>
            </div>
        </div>

        <% if (locals.playLists && locals.isFriend) { %>
            <h1>Public PlayLists</h1>
            <div class="playList-container-public">
                <% locals.playLists.forEach(element=> { %>
                    <div class="indivudual-playList">
                        <h2 data-id="<%= element._id %>">
                            <%= element.playListName %>
                        </h2>
                        <button class="requestBtn">
                            Request To Merge
                        </button>
                    </div>

                    <% }) %>
            </div>
            <% } %>
                <% if (locals.userPopulated.role==="Artist" ) { %>
                    <div class="section">
                        <h2>Published Music</h2>
                        <div id="published-music-container" class="item-container"></div>
                    </div>
                    <% } %>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/public/jsFunctions/otherUserPage.js"></script>
</body>

</html>