<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/headTags.ejs") %>
        <link rel="stylesheet" href="/public/cssFiles/home.css">
        <link rel="stylesheet" href="/public/cssFiles/playListPage.css">
        <link rel="stylesheet" href="/public/cssFiles/playListDialog.css">
        <style>
            .workspace {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
            }
        </style>
</head>

<body>
    <div class="wholePage">
        <%- include("./partials/createPlayListDiaglog.ejs")%>
            <aside class="sidebar">
                <%- include("./partials/sideBar.ejs")%>
            </aside>
            <main class="workspace">
                <div class="playListSpace">
                    <div class="createPlaylist">
                        CREATE PLAYLIST
                    </div>
                </div>
                <% locals.playLists.forEach(element=> { %>
                    <div class="playListCard" data-playListId="<%= element._id %>">
                        <h3 data-="">
                            <%= element.playListName %>
                        </h3>
                        <img src="<%= element.thumbNailPath %>">
                    </div>
                    <% }) %>

            </main>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/public/jsFunctions/playList.js"></script>
    <script src="/public/jsFunctions/utilityFunctions/sideBarRedirections.js"></script>
</body>

</html>